menu {
  position: absolute;
  top: -29px;
  background-color: #65ddb7;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.menu {
  font-size: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-text {
  min-width: 240px;
  max-width: 360px;
  animation: fromOpacZero 2s forwards;
}

::placeholder {
  text-align: center;
}

@keyframes fromOpacZero {
  from {
    opacity: 0;
  }
}
